<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="benchSA1" value="N9030B"/>
    <add key ="benchSA2" value="N9020B"/>
    <add key ="benchSA3" value="N9010B"/>
    <add key ="modSA1" value="M9393A"/>
    <add key ="modSA2" value="M9391A"/>
    <add key ="modSA3" value="M9492A"/>
    <add key ="modSA4" value="89601B"/>
    <add key ="modSA5" value="M90XA"/>
    <add key ="TotalPowerRef"  value="public double TotalPowerRef;"/>
    <add key ="LowerAbsPowerA"  value="public double LowerAbsPowerA;"/>
    <add key ="LowerDeltaLimitA"  value="public double LowerDeltaLimitA;"/>
    <add key ="LowerFreqA"  value="public double LowerFreqA;"/>
    <add key ="UpperAbsPowerA"  value="public double UpperAbsPowerA;"/>
    <add key ="UpperDeltaLimitA"  value="public double UpperDeltaLimitA;"/>
    <add key ="UpperFreqA"  value="public double UpperFreqA;"/>
    <add key ="LowerAbsPowerB"  value="public double LowerAbsPowerB;"/>
    <add key ="LowerDeltaLimitB"  value="public double LowerDeltaLimitB;"/>
    <add key ="LowerFreqB"  value="public double LowerFreqB;"/>
    <add key ="UpperAbsPowerB"  value="public double UpperAbsPowerB;"/>
    <add key ="UpperDeltaLimitB"  value="public double UpperDeltaLimitB;"/>
    <add key ="UpperFreqB"  value="public double UpperFreqB;"/>
    <add key ="sem1"  value="Double.TryParse(iqCols[1], out SEM_Data.TotalPowerRef);"/>
    <add key ="sem12" value="Double.TryParse(iqCols[12], out SEM_Data.LowerAbsPowerA);"/>
    <add key ="sem70" value="Double.TryParse(iqCols[70], out SEM_Data.LowerDeltaLimitA);"/>
    <add key ="sem14" value="Double.TryParse(iqCols[14], out SEM_Data.LowerFreqA);"/>
    <add key ="sem17" value="Double.TryParse(iqCols[17], out SEM_Data.UpperAbsPowerA);"/>
    <add key ="sem71" value="Double.TryParse(iqCols[71], out SEM_Data.UpperDeltaLimitA);"/>
    <add key ="sem19" value="Double.TryParse(iqCols[19], out SEM_Data.UpperFreqA);"/>
    <add key ="sem22" value="Double.TryParse(iqCols[22], out SEM_Data.LowerAbsPowerB);"/>
    <add key ="sem72" value="Double.TryParse(iqCols[72], out SEM_Data.LowerDeltaLimitB);"/>
    <add key ="sem24" value="Double.TryParse(iqCols[24], out SEM_Data.LowerFreqB);"/>
    <add key ="sem27" value="Double.TryParse(iqCols[27], out SEM_Data.UpperAbsPowerB);"/>
    <add key ="sem73" value="Double.TryParse(iqCols[73], out SEM_Data.UpperDeltaLimitB);"/>
    <add key ="sem29" value="Double.TryParse(iqCols[29], out SEM_Data.UpperFreqB);"/>
  </appSettings>           
</configuration>


